<!-- 
filename: footer.ejs
Name: Samuel Hasham
Student ID:100708080
Date: 2022-04-20
-->
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <h6>&copy; Copyright 2022</h6>
    </div>
</nav>