<!-- 
filename:404.ejs
Name: Samuel Hasham
Student ID:100708080
Date: 2022-04-20
-->
<h1><strong>ERROR - 404</strong> - Oops! Something went wrong!</h1>
<h2>Unfortunately, your page was not found.</h2>