<!-- 
filename: about.ejs
Name: Samuel Hasham
Student ID:100708080
Date: 2022-04-20
-->
<div class="Shoulder-image">
    <img src="../content/Shouldershot.png" class="img-fluid">
    <p>
        Heres a Current Picture of me!
    </p>
</div>
  <h1>About Me</h1>