
<!-- 
filename: home.ejs
Name: Samuel Hasham
Student ID:100708080
Date: 2022-04-20
-->
<h1 class="mb-5">Welcome to My Site!</h1>

<button id="AboutUsButton" class="btn btn-primary">Learn more About Me!</button>
<h2 class="Mission-paragraph">My Mission.</h1>