<!-- 
filename: projects.ejs
Name: Samuel Hasham
Student ID:100708080
Date: 2022-04-20
-->
<h1>My Projects</h1>
<p>
    For now this has been left empty in anticipation of future projects being added.
</p>