<!-- 
filename: services.ejs
Name: Samuel Hasham
Student ID:100708080
Date: 2022-04-20
-->
<h1>My Services</h1>
<p>
    I offer my services as a programmer to projects that are within my capabilities. That can include things such as database setup, basic webpage setup to a fullstack website with multiple views just like this one
</p>